
<div class="buycar2">
    <app-header></app-header>
    <div class="main">
        <h1>购物袋</h1>
        <div class="main-center">
            <p>很遗憾你的购物袋是空的</p>
            <div class="button">
                <a>选购上架新品</a>
            </div>
        </div>
        <div class="like">
            <h2>猜你也喜欢</h2>
            <div class="bbox">
                <div class="like-goods">
                    <img src="../../assets/imgs/good2.jpg" alt="" />
                    <p class="like-brand">Laura Lombardi</p>
                    <p class="like-name">Curve 金色耳环</p>
                    <p class="like-price">$159</p>
                    <div class="like-add">加入购物袋</div>
                </div>
                <div class="like-goods">
                    <img src="../../assets/imgs/good3.jpg" alt="" />
                    <p class="like-brand">KAYU</p>
                    <p class="like-name">编织草手提包</p>
                    <p class="like-price">$162</p>
                    <div class="like-add">加入购物袋</div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
   
</div>
