<div class="promo-bar">
    <div class="service-message-wrapper">
        <div class="service-banner-bottom" style="display: block"><p>单笔订单超过350美元，即可享受中国境内免费快速配送</p></div>
        <div class="service-banner-bottom" style="margin-top: 0.266667rem"><p>悦享28天内免费退换</p></div>
        <div class="service-banner-bottom"><p>欢迎关注颇特女士官方微信公众号：NETAPORTER_WECHAT</p></div>
    </div>
</div>
<div class="footer">
    <div class="contact-button-wrapper">
        <a href="javascript:void(0);">拨打客服电话¬</a>
    </div>
    <div class="product-nav fuwu">
        <div class="icon-jia-jian"></div>
        <div class="header-title">
            服务信息              
        </div>
        <div class="show-hide-content">
            <ul class="customer-care">
                <li><a href="javascript:void(0);">7天24小时客服</a></li>
                <li><a href="javascript:void(0);">配送信息</a></li>
                <li><a href="javascript:void(0);">退换货信息</a></li>
                <li><a href="javascript:void(0);">付款安全</a></li>
                <li><a href="javascript:void(0);">礼品卡</a></li>
                <li><a href="javascript:void(0);">常见问题回答</a></li>
                <li><a href="javascript:void(0);">我们的业务</a></li>
                <li><a href="javascript:void(0);">招聘求职</a></li>
                <li><a href="javascript:void(0);">服务条款</a></li>
            </ul>
            <div class="myapp">
                <a href="javascript:void(0);">我们的app</a>
            </div>
        </div>
    </div>
    <div class="quisition-social">
        <div class="form-container">
            <input class="email-input" type="email" name="emailAddress" placeholder="订阅 NET-A-PORTER颇特女士 电子快报">
            <div class="email-sublimt"></div>
        </div>
    </div>
    <div class="copyright">
        <span>© 2018</span>
        <img src="../../../assets/imgs/footer-logo.svg" alt="Net-A-Porter">
    </div>
</div>