<app-header></app-header>
<div class="promo-bar">
    <div class="service-message-wrapper">
        <div class="service-banner-bottom" style="display: block"><p>单笔订单超过350美元，即可享受中国境内免费快速配送</p></div>
        <div class="service-banner-bottom" style="margin-top: 0.266667rem"><p>悦享28天内免费退换</p></div>
        <div class="service-banner-bottom"><p>欢迎关注颇特女士官方微信公众号：NETAPORTER_WECHAT</p></div>
    </div>
</div>
<main class="qf-content">
    <div id="homepage">
        <div class="nap-homepage">
            <div class="quick-links">
                <a href="javascript:void(0)" class="quick-links_link"><span>最新上架</span></a>
                <a href="javascript:void(0)" class="quick-links_link"><span>品牌</span></a>
            </div>
            <div style="padding: 0 0 41px;">
                <div class="new-content-area-mobile">
                      <div class="market-area">
                            <div class="block-heading">
                                <span>前沿潮流 一网打尽</span>
                            </div>
                            <div class="market-area_fold">
                                <div class="market-block">
                                    <a href="javascript:void(0)">
                                      <div class="market-block_img place-img">
                                        <img src="../../../assets/imgs/main1.jpeg" >
                                      </div>
                                    </a>
                                      <h2 class="article-head">
                                        <a href="javascript:void(0)">田园颂歌</a>
                                      </h2>
                                      <h3 class="article-sub">
                                        <a href="javascript:void(0)">清新 演绎令人心动的柔美新风</a>
                                      </h3>
                                      <div class="article-cta">
                                        <a href="javascript:void(0)">立即选购</a>
                                      </div>
                                </div>
                                <div class="market-block">
                                    <a href="javascript:void(0)">
                                        <div class="market-block_img place-img">
                                          <img src="../../../assets/imgs/main2.jpeg" >
                                        </div>
                                      </a>
                                      <h2 class="article-head">
                                          <a href="javascript:void(0)">新品上线：Gucci</a>
                                        </h2>
                                        <h3 class="article-sub">
                                          <a href="javascript:void(0)">备受瞩目的新季系列现已登陆</a>
                                        </h3>
                                        <div class="article-cta">
                                          <a href="javascript:void(0)">立即选购</a>
                                        </div>
                                </div>
                            </div>

                            <div class="edit-cover">
                                <a href="javascript:void(0)" class="edit-cover_img-link ">
                                    <div class="place-img edit-cover_img">
                                      <img src="../../../assets/imgs/main3.jpeg">
                                    </div>
                                </a>
                                <div class="edit-cover_text">
                                    <h2 class="article-head">
                                        <a href="javascript:void(0)" class="sz">时装魅影</a>
                                    </h2>
                                    <h3 class="article-sub">
                                        <a href="javascript:void(0)">
                                          演员 Zoe Saldana 演绎摩登犀利的黑白西服套装及连衣裙
                                        </a>
                                    </h3>
                                    <div class="article-cta">
                                        <a href="javascript:void(0)">浏览并选购</a>
                                    </div>
                                </div>
                            </div>

                            <div class="editorial-area">
                                <div class="block-head">
                                    <span>最新文章</span>
                                </div>
                                <div class="edit-area">
                                    <div class="edit-block">
                                        <a href="javascript:void(0)">
                                            <div class="edit-block_img place-img">
                                              <img src="../../../assets/imgs/ed1.jpeg" >
                                            </div>
                                          </a>
                                          <h2 class="article-head a-h">
                                              <a href="javascript:void(0)">牛仔很忙</a>
                                            </h2>
                                            <h3 class="article-sub a-sub">
                                              <a href="javascript:void(0)">备受瞩目的新季系列现已登陆</a>
                                            </h3>
                                            <div class="article-cta">
                                              <a href="javascript:void(0)">浏览并选购</a>
                                            </div>
                                    </div>
                                    <div class="edit-block">
                                        <a href="javascript:void(0)">
                                            <div class="edit-block_img place-img">
                                              <img src="../../../assets/imgs/ed2.jpeg" >
                                            </div>
                                          </a>
                                          <h2 class="article-head">
                                              <a href="javascript:void(0)">活力奔跑</a>
                                            </h2>
                                            <h3 class="article-sub">
                                              <a href="javascript:void(0)">备受瞩目的新季系列现已登陆</a>
                                            </h3>
                                            <div class="article-cta">
                                              <a href="javascript:void(0)">浏览并选购</a>
                                            </div>
                                    </div>
                                    <div class="edit-block">
                                        <a href="javascript:void(0)">
                                            <div class="edit-block_img place-img">
                                              <img src="../../../assets/imgs/ed3.jpeg" >
                                            </div>
                                          </a>
                                          <h2 class="article-head">
                                              <a href="javascript:void(0)">愿望清单</a>
                                            </h2>
                                            <h3 class="article-sub">
                                              <a href="javascript:void(0)">备受瞩目的新季系列现已登陆</a>
                                            </h3>
                                            <div class="article-cta">
                                              <a href="javascript:void(0)">浏览并选购</a>
                                            </div>
                                    </div>
                                    <div class="edit-block">
                                        <a href="javascript:void(0)">
                                            <div class="edit-block_img place-img">  
                                              <img src="../../../assets/imgs/ed4.jpeg" >
                                            </div>
                                          </a>
                                          <h2 class="article-head">
                                              <a href="javascript:void(0)">流苏飘飘</a>
                                            </h2>
                                            <h3 class="article-sub">
                                              <a href="javascript:void(0)">备受瞩目的新季系列现已登陆</a>
                                            </h3>
                                            <div class="article-cta">
                                              <a href="javascript:void(0)">浏览并选购</a>
                                            </div>
                                    </div>
                                </div>
                            </div>

                            <div class="market-area horizontal-rule">
                                <div class="block-heading">
                                    <span>前沿潮流 一网打尽</span>
                                </div>
                                <div class="market-area_fold">
                                    <div class="market-block">
                                        <a href="javascript:void(0)">
                                          <div class="market-block_img place-img">
                                            <img src="../../../assets/imgs/main4.jpg" >
                                          </div>
                                        </a>
                                          <h2 class="article-head">
                                            <a href="javascript:void(0)">
                                                新品: Golden Goose Deluxe Brand
                                              </a>
                                          </h2>
                                          <h3 class="article-sub">
                                            <a href="javascript:void(0)">探索炙手可热的全新系列</a>
                                          </h3>
                                          <div class="article-cta">
                                            <a href="javascript:void(0)">选购相关单品</a>
                                          </div>
                                    </div>
                                    <div class="market-block">
                                        <a href="javascript:void(0)">
                                            <div class="market-block_img place-img">
                                              <img src="../../../assets/imgs/main5.jpeg" >
                                            </div>
                                          </a>
                                          <h2 class="article-head">
                                              <a href="javascript:void(0)">曼妙小猫跟</a>
                                            </h2>
                                            <h3 class="article-sub">
                                              <a href="javascript:void(0)">好穿又好看的满分伴“履”</a>
                                            </h3>
                                            <div class="article-cta">
                                              <a href="javascript:void(0)">立即选购</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                      </div>
                </div>
                <div></div>
            </div>
            <div></div>
            <div class="nap-live horizontal-rule">
                <div class="block-head b-h">
                    <span>NET-A-PORTER LIVE</span>
                </div>
                <div class="sell article-head">
                    <span>同步了解全球时尚女性正在购买的抢手单品</span>
                </div>
                <div class="shopper-count">
                    <span>56400</span>
                    <span>位时尚爱好者在线</span>
                </div>
                <div class="naplive-carousel">
                    <div class="slider" style="position:relative;display:block;width:100%;height:auto;visibility: visible;">
                        <div class="swiper-container" style="position:relative;display: block;overflow-x:auto;height:auto;margin:0;padding:0;">
                            <ul class="slider-wrapper" style="position:relative;display: block;margin:0 -30px;padding:0;height:415px;width:3380px;cursor: inherit;">
                                <li class="slider-slide" *ngFor="let obj of dataset1; " [id]="obj.id">
                                  <a href="javascript:void(0)" class="nap-live-link" [attr.data-img]="obj.img">
                                      <div class="s-img place-img"><img class="image" [src]="obj.img" [alt]="obj.name"></div>
                                      <div class="designer"><span class="name">{{obj.name}}</span></div>
                                  </a>
                                    <div class="activity"><span>已加入购物袋</span></div> 
                                </li>
                            <!--     <li class="slider-slide">
                                  <a href="javascript:void(0)" class="nap-live-link">
                                      <div class="s-img place-img"><img src="../../../assets/imgs/s1.jpg" class="image"></div>
                                      <div class="designer"><span class="name">ERES</span></div>
                                  </a>
                                    <div class="activity"><span>已加入购物袋</span></div> 
                                </li>
                                <li class="slider-slide">
                                  <a href="javascript:void(0)" class="nap-live-link">
                                      <div class="s-img place-img"><img src="../../../assets/imgs/s1.jpg" class="image"></div>
                                      <div class="designer"><span class="name">ERES</span></div>
                                  </a>
                                    <div class="activity"><span>已加入购物袋</span></div> 
                                </li>
                               <li class="slider-slide">
                                  <a href="javascript:void(0)" class="nap-live-link">
                                      <div class="s-img place-img"><img src="../../../assets/imgs/s1.jpg" class="image"></div>
                                      <div class="designer"><span class="name">ERES</span></div>
                                  </a>
                                    <div class="activity"><span>已加入购物袋</span></div> 
                                </li>
                                <li class="slider-slide">
                                  <a href="javascript:void(0)" class="nap-live-link">
                                      <div class="s-img place-img"><img src="../../../assets/imgs/s1.jpg" class="image"></div>
                                      <div class="designer"><span class="name">ERES</span></div>
                                  </a>
                                    <div class="activity"><span>已加入购物袋</span></div> 
                                </li> -->
                            </ul>
                        </div>
<!--                         <div class="slider-button-prev icon" style="position:absolute;top:-1.875rem;right:50px;">
                        <i class="fa fa-angle-left fa-3" aria-hidden="true"></i>
                        </div>
                        <div class="slider-button-next icon" style="position:absolute;top:-1.875rem;right:0;">
                        <i class="fa fa-angle-right fa-3" aria-hidden="true"></i>
                        </div> -->
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</main>
<div class="qf-nav-cover"></div>

<app-footer></app-footer>
