<div id='dymyread'>
     <app-header></app-header>
    <div class='dymyread'>
          address works!
    <div class="upphoto">
         <form action="/singleUpload" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar" >
        
        <!--  <input type="file" name="photos" multiple="multiple" /><br> -->
         
        
      <!--   <input type="text" name="username" id=""> -->
        <input type="submit" value="Upload">
    </form>
        
    </div>
    
        <app-footer> </app-footer> 
    </div>
</div>