<nav class="qf-nav">
	<ul class="qf-nav-bar qf-nav-section">
		<li class="qf-nav-level qf-nav1">
			<a href="javascript:void(0);" (click)="tohome()">首页</a>
			<div class="back"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
			<div class="qf-nav-level2">
				
			</div>
		</li>
		<li>
			<a href="javascript:void(0);" (click)='pinpai()'>品牌</a>
			<div class="qf-nav-level2 qf-nav-des">
				<div class="qf-nav-content">
					<div class="qf-nav-back" (click)='back()'>返回</div>
					<hr class="qf-nav-divider">
					<div class="qf-nav-cate">
						<div class="qf-nav-section">
							<ul>
								<li><a href="javascript:void(0);" (click)="tolist()">秀场系列</a></li>
								<li><a href="javascript:void(0);" (click)="tosort($event)">服装</a></li>	
								<li><a href="javascript:void(0);" (click)="tosort($event)">鞋履</a></li>
								<li><a href="javascript:void(0);" (click)="tosort($event)">包袋</a></li>
								<li><a href="javascript:void(0);" (click)="tosort($event)">配饰</a></li>
								<li><a href="javascript:void(0);" (click)="tosort($event)">珠宝手表</a></li>
								<li><a href="javascript:void(0);" (click)="tosort($event)">内衣</a></li>
								<li><a href="javascript:void(0);">美容</a></li>
								<li><a href="javascript:void(0);">运动装</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li>
			<a href="javascript:void(0);" (click)='fuzhuang()'>服装</a>
		<div class="qf-nav-level2-1 qf-nav-des">
			<div class="qf-nav-content">
				<div class="qf-nav-back" (click)='back()'>返回</div>
				<hr class="qf-nav-divider">
				<div class="qf-nav-cate">
					<div class="qf-nav-section">
						<ul>
							<li><a href="javascript:void(0);" (click)="tosort($event)">服装</a></li>
							<li><a href="javascript:void(0);">上衣</a></li>
							<li><a href="javascript:void(0);" (click)="tosort($event)">内衣</a></li>
							<li><a href="javascript:void(0);">半身裙</a></li>
							<li><a href="javascript:void(0);">含蓄风情</a></li>
							<li><a href="javascript:void(0);">外套</a></li>
							<li><a href="javascript:void(0);">夹克</a></li>
							<li><a href="javascript:void(0);">女衫</a></li>
							<li><a href="javascript:void(0);">度假连衣裙</a></li>
							<li><a href="javascript:void(0);">新娘装</a></li>
							<li><a href="javascript:void(0);">晚礼服</a></li>
							<li><a href="javascript:void(0);">晚装</a></li>
							<li><a href="javascript:void(0);">毛衣</a></li>
							<li><a href="javascript:void(0);">沙滩装</a></li>
							<li><a href="javascript:void(0);">泳装</a></li>
							<li><a href="javascript:void(0);">排队连衣裙</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		</li>
		<li>
			<a href="javascript:void(0);" (click)="tosort($event)">鞋履</a>
		</li>
		<li>
			<a href="javascript:void(0);" (click)="tosort($event)">包袋</a>
		</li>
		<li>
			<a href="javascript:void(0);" (click)="tosort($event)">配饰</a>
		</li>
		<li>
			<a href="javascript:void(0);" (click)="tosort($event)">珠宝手表</a>
		</li>
		<li>
			<a href="javascript:void(0);" (click)="tosort($event)">内衣</a>
		</li>
		<li>
			<a href="javascript:void(0);">美容</a>
		</li>
		<li>
			<a href="javascript:void(0);">杂志</a>
		</li>
		<ul class="qf-account">
			<li>
				<a href="javascript:void(0);" (click)="gotoregister()">注册</a>
			</li>
			<li>
				<a href="javascript:void(0);" (click)="gotologin()">登录</a>
			</li>
		</ul>
	</ul>
</nav>